@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #040303;
    --text-color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000;
  }
}
.App {
  height: 100vh;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
button:hover {
  cursor: pointer;
}
.Navbar {
  background-color: #74c69d;
  width: 100%;
  height: 80px;
  display: flex;
  overflow-x: hidden;

  .Nav_leftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;

    button {
      display: none;
      margin-left: 20px;
      background: none;
      border: none;
    }

    #navHidden {
      display: flex;
    }

    .routers {
      max-height: 80px;

      a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin-left: 15px;
      }
    }
  }
  .Nav_rightSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;

    input {
      width: 220px;
      height: 30px;
      border: none;
      border-radius: 4px;
      font-size: 20px;
      padding-left: 15px;
      color: black;
    }

    button {
      height: 32px;
      width: 70px;
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 880px) {
  .Navbar .Nav_leftSide .routers a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 750px) {
  .Navbar .Nav_leftSide .routers a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 650px) {
  .Navbar .Nav_leftSide button {
    display: flex;
  }
  .Navbar .Nav_leftSide .routers {
    display: none;
  }
  .Navbar .Nav_leftSide #navHidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: #74c69d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Navbar .Nav_leftSide #navHidden a {
    margin: 10px;
    font-size: 25px;
  }
}
